// 重置样式
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

// 全局变量
:root {
    --grid-gap: 10px;
    --grid-bg: #fff;
    --component-bg: lightblue;
    --text-color: #333;
}
