// 颜色变量
$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

// 布局变量
$grid-gap: 2px;
$grid-bg: #ddd;
$component-bg: #f0f0f0;
$text-color: #333;

// 导出变量到 CSS 变量
:export {
    primaryColor: $primary-color;
    successColor: $success-color;
    warningColor: $warning-color;
    dangerColor: $danger-color;
    infoColor: $info-color;
}
